.adminContainer
    width: 720px
    height: 65px
    margin-top: 8px
    margin-bottom: 8px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 8px

    & input
        text-align: center
        position: relative
        border-radius: 15px
        border-width: 2px
        outline: none
        width: 100px
        height: 35px

    .btnReset
        margin-left: 18px
        color: rgb(255, 255, 255)
        background: #3b3b3bd3
        transition: 0.5s ease-in-out

    .btnReset:hover
        transform: scale(1.03)
        color: white
        box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 8rem 0 4px #af1717, inset 0 0 0 transparent

    .btnOnOff
        margin-left: 18px
        color: rgb(255, 255, 255)
        background: #3b3b3bd3
        transition: 0.5s ease-in-out

    .btnOnOff:hover
        transform: scale(1.03)
        color: white
        box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 8rem 0 4px #000000, inset 0 0 0 transparent

    .btnMax
        margin-left: 18px
        color: rgb(255, 255, 255)
        background: #3b3b3bd3
        transition: 0.5s ease-in-out

    .btnMax:hover
        transform: scale(1.03)
        color: white
        box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 11rem 0 4px #000000, inset 0 0 0 transparent
.Max-h2
    text-shadow: 1px 1px #afb4b9c2
/////// css Validation
.AlertReset , .AlertMax , .AlertEtat
    background: #8f8f8fc9
    border-radius: 8px
    font-size: 17px
    text-align: center !important
    padding: 0 10px

    & .react-confirm-alert-button-group
        display: flex
        justify-content: center

    h1
        font-family: 'Courier New', monospace !important
        font-size: 30px
        text-align: center
        padding: 0 10px
        color: black

    button
        display: flex
        justify-content: center

.react-confirm-alert-body
    display: flex
    flex-direction: column
    align-items: center

.Max-input
    width: 155px
    height: 30px
    border-radius: 8px
    font-size: 13px
    text-align: center !important
.MuiTableCell-head
    height: 20px 