.adminGrpContainer
  
  div
    width: 100%
    display: flex
    flex-wrap: wrap
    
    .groupContainer
      width: 740px
      display: block
      margin: 10px
      padding: 15px
      border-width: 5px
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2)
      background-image: linear-gradient(to right, #ffffff, #eeeeee);
      border-radius: 20px

      h1
        margin: 5px auto auto -10px
        text-align: center
        text-transform: uppercase
        width: 280px
        height: 35px
        font-size: 20px
        padding: 15px 15px 10px 15px
        background-color: darken(#1f7ac5, 15%)
        color: White
        position: relative
        border-radius: 10px
        left: 30%
        line-height: 35px

    .tablesContainer
      display: flex
      width: 750px
      flex-wrap: wrap

      .tableAttente ,.tablePause
        width: 335px
        margin: auto

        .MuiToolbar-gutters
          max-height: 60px
