.notifContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8f8f8fc9;
  z-index: 10 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifContainer .notifHeader {
  background: #d4d4d4;
  border-radius: 8px;
  width: 50%;
  position: relative;
  min-height: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.notifContainer .notifHeader p {
  font-family: 'Courier New', monospace !important;
  font-size: 30px;
  text-align: center;
  padding: 0 10px;
}

.notifContainer .notifHeader .notifBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnAccepter:after {
  background-color: #203d27;
}

.btnAccepter:before {
  background-color: #438052;
}

.btnDepasser:after {
  background-color: #50402a;
}

.btnDepasser:before {
  background-color: #93764d;
}

.btnPatienter:after {
  background-color: #422a47;
}

.btnPatienter:before {
  background-color: #7e5087;
}

button {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.2rem !important;
  color: #fff;
  font-size: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
  width: auto;
  z-index: 1;
  border: none;
  outline: none;
  border-radius: 8px;
}

button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

button:hover {
  color: #fff;
}

button:hover:before {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */