.demanderPause {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  border-radius: 50% 20% / 10% 40%;
  color: #fff;
  font-size: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  width: 220px;
  z-index: 1;
  border: none;
  outline: none;
}

.demanderPause:after {
  content: '';
  border-radius: 50% 20% / 10% 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #154c79;
  z-index: -2;
}

.demanderPause:before {
  content: '';
  border-radius: 50% 20% / 10% 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2075ba;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.demanderPause:hover {
  color: #fff;
}

.demanderPause:hover:before {
  width: 100%;
}

.arreterPause {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  border-radius: 50% 20% / 10% 40%;
  color: #fff;
  font-size: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  width: 220px;
  z-index: 1;
  border: none;
  outline: none;
}

.arreterPause:after {
  content: '';
  border-radius: 50% 20% / 10% 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #154c79;
  z-index: -2;
}

.arreterPause:before {
  content: '';
  border-radius: 50% 20% / 10% 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2075ba;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.arreterPause:hover {
  color: #fff;
}

.arreterPause:hover:before {
  width: 100%;
}

.userCardContainer {
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
  width: 720px;
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.userCardContainer .field {
  width: auto;
  margin: 10px;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.userCardContainer .field span {
  font-style: italic;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */