$color: #154c79
.demanderPause
  font-family: Roboto, Helvetica, Arial, sans-serif
  font-weight: bold
  padding: 0.75rem 1.2rem
  border-radius: 50% 20% / 10% 40%
  color: #fff
  font-size: 15px
  transition: all .3s
  position: relative
  overflow: hidden
  width: 220px
  z-index: 1
  border: none
  outline: none
  
  &:after 
    content: ''
    border-radius: 50% 20% / 10% 40%;
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $color
    z-index: -2
  
  &:before 
    content: ''
    border-radius: 50% 20% / 10% 40%;
    position: absolute
    bottom: 0
    left: 0
    width: 0%
    height: 100%
    background-color: lighten($color, 15%)
    transition: all .3s
    z-index: -1
  
  &:hover 
    color: #fff
    &:before 
      width: 100%
    

.arreterPause
  font-family: Roboto, Helvetica, Arial, sans-serif
  font-weight: bold
  padding: 0.75rem 1.2rem
  border-radius: 50% 20% / 10% 40%
  color: #fff
  font-size: 15px
  transition: all .3s
  position: relative
  overflow: hidden
  width: 220px
  z-index: 1
  border: none
  outline: none

  &:after 
    content: ''
    border-radius: 50% 20% / 10% 40%;
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $color
    z-index: -2
  
  &:before 
    content: ''
    border-radius: 50% 20% / 10% 40%;
    position: absolute
    bottom: 0
    left: 0
    width: 0%
    height: 100%
    background-color: lighten($color, 15%)
    transition: all .3s
    z-index: -1
  
  &:hover 
    color: #fff
    &:before 
      width: 100%
    
.userCardContainer
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.1)
    width: 720px
    height: 75px
    padding-left: 15px
    padding-right: 15px
    margin: auto
    margin-bottom: 25px
    display: flex
    align-items: center
    border-radius: 8px
    .field
     width: auto
     margin: 10px
     font-weight: bold
     flex: 1 // fill automatic 
     span
         font-style: italic
         font-weight: normal